<form class="form-horizontal" method="post" action="/login">
  <fieldset>
    <legend>Please sign in</legend>
    <div class="control-group">
      <label class="control-label" for="username">Email</label>
      <div class="controls">
        <input type="text" name="username" placeholder="Email">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" name="password" placeholder="Password">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Log in</button>
        <a class="btn" href="/signup">Sign up</a>
      </div>
    </div>
  </fieldset>
</form>
