<form class="form-horizontal" action="/signup/new" method="post" >
  <fieldset>
    <legend>Enter Account Details</legend>
    <div class="control-group">
      <label class="control-label" for="fname">First Name</label>
      <div class="controls">
        <input type="text" name="fname" placeholder="First name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="lname">Last Name</label>
      <div class="controls">
        <input type="text" name="lname" placeholder="Last name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="email">Email</label>
      <div class="controls">
        <input type="text" name="email" placeholder="Email">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" name="password" placeholder="Password">
      </div>
    </div>
     <div class="control-group">
      <label class="control-label" for="password_confirmation">Confirm</label>
      <div class="controls">
        <input type="password" name="password_confirmation" placeholder="Confirm">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Create Account</button>
        <a class="btn" href="/login">Cancel</a>
      </div>
    </div>
  </fieldset>
</form>
